.page {
    background: gray;
    border: 1px solid black;
    font-family: 'Ubuntu';
    
    .title {
        color: red;
        font-size: 4rem;
        display: grid;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        
        span {
            color: green;
        }
    }
}
